/* *****************************
 *
 * Import file to Scss or Sass.
 *
 **************************** */
/* *****************************
 *
 * reset style
 *
 **************************** */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* *****************************
 *
 * Clearfix
 *
 **************************** */
.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear {
  display: inline-table;
  min-height: 1%;
}

* html .clear {
  height: 1%;
}

.clear {
  display: block;
}

/* *****************************
 *
 * html and body
 *
 **************************** */
html {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  background: url('http://nonakaryuichi.github.com/cutandslice_me_sample/images/background.png?1358440236') repeat center center;
}
html body {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 84%;
  line-height: 100%;
}

/* *****************************
 *
 * layout styles
 *
 **************************** */
#wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* *****************************
 *
 * Navigation button styles
 *
 **************************** */
#navBtns {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
}
#navBtns #navBtnList {
  width: 100%;
  height: 100%;
  margin: 0;
}
#navBtns #navBtnList .btn {
  position: absolute;
  width: 90px;
  height: 90px;
  margin: 0 5px 0 0;
  /*
   * $spacing: 00px
   * $layout: vertical, horizontal, diagonal, smart
   */
}
#navBtns #navBtnList .btn a {
  display: block;
  overflow: hidden;
  width: 90px;
  height: 90px;
  text-indent: 100%;
  white-space: nowrap;
  background: url('http://nonakaryuichi.github.com/cutandslice_me_sample/images/btns/normal-s49bd7ac090.png') no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #navBtns #navBtnList .btn a {
    background: url('http://nonakaryuichi.github.com/cutandslice_me_sample/images/btns/2x-s2ebf793df6.png') no-repeat;
    -webkit-background-size: 2200px 90px;
    -moz-background-size: 2200px 90px;
    -o-background-size: 2200px 90px;
    background-size: 2200px 90px;
  }
}
@media only screen and (-moz-min-device-pixel-ratio: 2) {
  #navBtns #navBtnList .btn a {
    background: url('http://nonakaryuichi.github.com/cutandslice_me_sample/images/btns/2x-s2ebf793df6.png') no-repeat;
    -webkit-background-size: 2200px 90px;
    -moz-background-size: 2200px 90px;
    -o-background-size: 2200px 90px;
    background-size: 2200px 90px;
  }
}
@media only screen and (-o-min-device-pixel-ratio: 4 / 2) {
  #navBtns #navBtnList .btn a {
    background: url('http://nonakaryuichi.github.com/cutandslice_me_sample/images/btns/2x-s2ebf793df6.png') no-repeat;
    -webkit-background-size: 2200px 90px;
    -moz-background-size: 2200px 90px;
    -o-background-size: 2200px 90px;
    background-size: 2200px 90px;
  }
}
@media only screen and (-ms-min-device-pixel-ratio: 2) {
  #navBtns #navBtnList .btn a {
    background: url('http://nonakaryuichi.github.com/cutandslice_me_sample/images/btns/2x-s2ebf793df6.png') no-repeat;
    -webkit-background-size: 2200px 90px;
    -moz-background-size: 2200px 90px;
    -o-background-size: 2200px 90px;
    background-size: 2200px 90px;
  }
}
@media only screen and (min-device-pixel-ratio: 2) {
  #navBtns #navBtnList .btn a {
    background: url('http://nonakaryuichi.github.com/cutandslice_me_sample/images/btns/2x-s2ebf793df6.png') no-repeat;
    -webkit-background-size: 2200px 90px;
    -moz-background-size: 2200px 90px;
    -o-background-size: 2200px 90px;
    background-size: 2200px 90px;
  }
}
#navBtns #navBtnList .btn.home {
  top: 195px;
  left: 115px;
}
#navBtns #navBtnList .btn.home a {
  background-position: -990px 0;
}
#navBtns #navBtnList .btn.home a:hover {
  background-position: -880px 0;
}
#navBtns #navBtnList .btn.home a:active {
  background-position: -1100px 0;
}
#navBtns #navBtnList .btn.home a:target {
  background-position: -1210px 0;
}
#navBtns #navBtnList .btn.edit {
  top: 195px;
  left: 15px;
}
#navBtns #navBtnList .btn.edit a {
  background-position: -110px 0;
}
#navBtns #navBtnList .btn.edit a:hover {
  background-position: 0 0;
}
#navBtns #navBtnList .btn.edit a:active {
  background-position: -220px 0;
}
#navBtns #navBtnList .btn.edit a:target {
  background-position: -330px 0;
}
#navBtns #navBtnList .btn.graph {
  top: 195px;
  left: 215px;
}
#navBtns #navBtnList .btn.graph a {
  background-position: -550px 0;
}
#navBtns #navBtnList .btn.graph a:hover {
  background-position: -440px 0;
}
#navBtns #navBtnList .btn.graph a:active {
  background-position: -660px 0;
}
#navBtns #navBtnList .btn.graph a:target {
  background-position: -770px 0;
}
#navBtns #navBtnList .btn.user {
  top: 95px;
  left: 115px;
}
#navBtns #navBtnList .btn.user a {
  background-position: -1870px 0;
}
#navBtns #navBtnList .btn.user a:hover {
  background-position: -1760px 0;
}
#navBtns #navBtnList .btn.user a:active {
  background-position: -1980px 0;
}
#navBtns #navBtnList .btn.user a:target {
  background-position: -2090px 0;
}
#navBtns #navBtnList .btn.inquiry {
  top: 295px;
  left: 115px;
}
#navBtns #navBtnList .btn.inquiry a {
  background-position: -1430px 0;
}
#navBtns #navBtnList .btn.inquiry a:hover {
  background-position: -1320px 0;
}
#navBtns #navBtnList .btn.inquiry a:active {
  background-position: -1540px 0;
}
#navBtns #navBtnList .btn.inquiry a:target {
  background-position: -1650px 0;
}
