/* *****************************
 *
 * Import file to Scss or Sass.
 *
 **************************** */
@import "compass";

/* *****************************
 *
 * reset style
 *
 **************************** */
@include global-reset;


/* *****************************
 *
 * Clearfix
 *
 **************************** */
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden}.clear{display:inline-table;min-height:1%}* html .clear{height:1%}.clear{display:block}


/* *****************************
 *
 * html and body
 *
 **************************** */
html
{
        //layout
        overflow: hidden;
        display:   block;
        width:      100%;
        height:     100%;

        //background
        background: image-url('background.png') repeat center center;

        //nest
        body
        {
                display:    block;
                width:       100%;
                height:      100%;
                font-size:    84%;
                line-height: 100%;
        }
}

/* *****************************
 *
 * layout styles
 *
 **************************** */
#wrapper
{
        //layout
        overflow: hidden;
        width:      100%;
        height:     100%;
}

#header
{
        //layout
        position: absolute;
        overflow:   hidden;
        padding: 15% 0 0 0;

        //nest
        #siteID
        {
                //layout
                margin:  0 auto;
                width:    446px;
        }
}

#footer
{
        //layout
        overflow:   hidden;
        position: absolute;
        bottom:       10px;
        right:        20px;
}

/* *****************************
 *
 * Navigation button styles
 *
 **************************** */
#navBtns
{
        //layout
        position: relative;
        margin:    0;
        width:  100%;
        height: 100%;

        //nest
        #navBtnList
        {
                //vars
                $btns: sprite-map("btns/normal/*.png", $spacing: 20px, $layout: horizontal);
                /*
                 * $spacing: 00px
                 * $layout: vertical, horizontal, diagonal, smart
                 */

                //layout
                width:   100%;
                height:  100%;
                margin:     0;

                //nest
                .btn
                {
                        //layout
                        position: absolute;
                        width:       90px;
                        height:      90px;
                        margin: 0 5px 0 0;

                        //nest
                        a
                        {
                                //layout
                                display:       block;
                                overflow:     hidden;
                                width:          90px;
                                height:         90px;

                                //typo
                                text-indent:    100%;
                                white-space:  nowrap;

                                //background
                                background : $btns no-repeat;
                        }

                        //home button
                        &.home
                        {
                            top:    195px;
                            bottom: 195px;
                            left:   115px;
                            right:  115px;

                                a
                                {
                                        background-position:
                                                sprite-position( $btns, btn_home_normal );
                                }

                                a:hover
                                {
                                        background-position:
                                                sprite-position( $btns, btn_home_hover );
                                }

                                a:active
                                {
                                        background-position:
                                                sprite-position( $btns, btn_home_pressed );
                                }
                                a:target
                                {
                                        background-position:
                                                sprite-position( $btns, btn_home_selected );
                                }
                        }


                        //edit button
                        &.edit
                        {
                                //layout
                                margin-top: 40px;

                                //nest
                                a
                                {
                                        background-position:
                                                sprite-position( $btns, btn_edit_normal );
                                }

                                a:hover
                                {
                                        background-position:
                                                sprite-position( $btns, btn_edit_hover );
                                }

                                a:active
                                {
                                        background-position:
                                                sprite-position( $btns, btn_edit_pressed );
                                }
                                a:target
                                {
                                        background-position:
                                                sprite-position( $btns, btn_edit_selected );
                                }
                        }


                        //graph button
                        &.graph
                        {
                                //layout
                                margin-top: -10px;

                                //nest
                                a
                                {
                                        background-position:
                                                sprite-position( $btns, btn_graph_normal );
                                }
                                a:hover
                                {
                                        background-position:
                                                sprite-position( $btns, btn_graph_hover );
                                }
                                a:active
                                {
                                        background-position:
                                                sprite-position( $btns, btn_graph_pressed );
                                }
                                a:target
                                {
                                        background-position:
                                                sprite-position( $btns, btn_graph_selected );
                                }
                        }


                        //user button
                        &.user
                        {
                                //layout
                                margin-top: 40px;

                                //nest
                                a
                                {
                                        background-position:
                                                sprite-position( $btns, btn_user_normal );
                                }

                                a:hover
                                {
                                        background-position:
                                                sprite-position( $btns, btn_user_hover );
                                }

                                a:active
                                {
                                        background-position:
                                                sprite-position( $btns, btn_user_pressed );
                                }
                                a:target
                                {
                                        background-position:
                                                sprite-position( $btns, btn_user_selected );
                                }
                        }


                        //inquiry button
                        &.inquiry
                        {
                                //nest
                                a
                                {
                                        background-position:
                                                sprite-position( $btns, btn_inquiry_normal );
                                }

                                a:hover
                                {
                                        background-position:
                                                sprite-position( $btns, btn_inquiry_hover );
                                }

                                a:active
                                {
                                        background-position:
                                                sprite-position( $btns, btn_inquiry_pressed );
                                }
                                a:target
                                {
                                        background-position:
                                                sprite-position( $btns, btn_inquiry_selected );
                                }
                        }
                }
        }
}


/* *****************************
 *
 * Footer link styles
 *
 **************************** */
#links
{
        //vars
        $links: sprite-map("links/*.png", $spacing: 20px);


        //layout
        width: 350px;

        //nest
        .item
        {
                //layout
                margin-left: 15px;
                float:      right;

                //nest
                a
                {
                        //layout
                        display:       block;
                        overflow:     hidden;

                        //typo
                        text-indent:    100%;
                        white-space:  nowrap;

                        //background
                        background : $links no-repeat;
                }

                &.blog
                {
                        a
                        {
                                width:  image-width('links/link_copyright.png');
                                height: image-height('links/link_copyright.png');

                                background-position:
                                                sprite-position( $links, link_copyright );
                        }
                }

                &.github
                {
                        a
                        {
                                width:  image-width('links/link_github.png');
                                height: image-height('links/link_github.png');

                                background-position:
                                                sprite-position( $links, link_github );
                        }
                }

                &.twitter
                {
                        a
                        {
                                width:  image-width('links/link_twitter.png');
                                height: image-height('links/link_twitter.png');

                                background-position:
                                                sprite-position( $links, link_twitter );
                        }
                }
        }
}