/* *****************************
 *
 * Import file to Scss or Sass.
 *
 **************************** */
@import "compass";

/* *****************************
 *
 * reset style
 *
 **************************** */
@include global-reset;

@function set_temp_pxratio( $prefix, $ratio ){
        @if $prefix == -o- {
                $fraction_molecule    : $ratio * 2;
                $fraction_denominator : 2;
                @return '#{$fraction_molecule}/#{$fraction_denominator}';
        } @else {
                @return $ratio;
        }
}

$MQ_PREFIX_TYPES                : -webkit-, -moz-, -o-, -ms-, '' !default;
@mixin ratio($ratio) {
    @each $prefix in $MQ_PREFIX_TYPES
    {
        @media only screen
        and ( #{$prefix}max-device-pixel-ratio: set_temp_pxratio( $prefix, $ratio ) )
        {
            @content;
        }
    }
}


/* *****************************
 *
 * Clearfix
 *
 **************************** */
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden}.clear{display:inline-table;min-height:1%}* html .clear{height:1%}.clear{display:block}


/* *****************************
 *
 * html and body
 *
 **************************** */
html
{
    //layout
    overflow: hidden;
    display:   block;
    width:      100%;
    height:     100%;

    //background
    background: image-url('background.png') repeat center center;

    //nest
    body
    {
        display:    block;
        width:       100%;
        height:      100%;
        font-size:    84%;
        line-height: 100%;
    }
}

/* *****************************
 *
 * layout styles
 *
 **************************** */
#wrapper
{
    //layout
    overflow: hidden;
    width:      100%;
    height:     100%;
}

/* *****************************
 *
 * Navigation button styles
 *
 **************************** */
#navBtns
{
    //layout
    position: relative;
    margin:    0;
    width:  100%;
    height: 100%;

    //nest
    #navBtnList
    {
        //layout
        width:   100%;
        height:  100%;
        margin:     0;

        //nest
        .btn
        {
            //layout
            position: absolute;
            width:       90px;
            height:      90px;
            margin: 0 5px 0 0;

            //nest
            a
            {
                //layout
                display:       block;
                overflow:     hidden;
                width:          90px;
                height:         90px;

                //typo
                text-indent:    100%;
                white-space:  nowrap;

                //vars
                /*
                 * $spacing: 00px
                 * $layout: vertical, horizontal, diagonal, smart
                 */
                $btns: sprite-map("btns/normal/*.png", $spacing: 20px, $layout: horizontal);
                //background
                background : $btns no-repeat;
                @include ratio(2)
                {
                    $btns-retina: sprite-map("btns/2x/*.png", $spacing: 20px, $layout: horizontal);
                    background : $btns-retina no-repeat;
                    @include background-size(image-width(sprite-path($btns)) image-height(sprite-path($btns)));
                }

            }

            //home button
            &.home
            {
                //layout
                top:    195px;
                left:   115px;

                a
                {
                    background-position:
                        sprite-position( $btns, btn_home_normal );

                    @include ratio(2)
                    {
                        background-position:
                            sprite-position( $btns-retina, btn_home_normal);
                    }
                }

                a:hover
                {
                    background-position:
                        sprite-position( $btns, btn_home_hover );
                }

                a:active
                {
                    background-position:
                        sprite-position( $btns, btn_home_pressed );
                }
                a:target
                {
                    background-position:
                        sprite-position( $btns, btn_home_selected );
                }
            }


            //edit button
            &.edit
            {

                //layout
                top:    195px;
                left:   15px;

                //nest
                a
                {
                    background-position:
                        sprite-position( $btns, btn_edit_normal );
                }

                a:hover
                {
                    background-position:
                        sprite-position( $btns, btn_edit_hover );
                }

                a:active
                {
                    background-position:
                        sprite-position( $btns, btn_edit_pressed );
                }
                a:target
                {
                    background-position:
                        sprite-position( $btns, btn_edit_selected );
                }
            }


            //graph button
            &.graph
            {
                //layout
                top:    195px;
                left:   215px;

                //nest
                a
                {
                    background-position:
                        sprite-position( $btns, btn_graph_normal );
                }
                a:hover
                {
                    background-position:
                        sprite-position( $btns, btn_graph_hover );
                }
                a:active
                {
                    background-position:
                        sprite-position( $btns, btn_graph_pressed );
                }
                a:target
                {
                    background-position:
                        sprite-position( $btns, btn_graph_selected );
                }
            }


            //user button
            &.user
            {
                //layout
                top:    95px;
                left:   115px;

                //nest
                a
                {
                    background-position:
                        sprite-position( $btns, btn_user_normal );
                }

                a:hover
                {
                    background-position:
                        sprite-position( $btns, btn_user_hover );
                }

                a:active
                {
                    background-position:
                        sprite-position( $btns, btn_user_pressed );
                }
                a:target
                {
                    background-position:
                        sprite-position( $btns, btn_user_selected );
                }
            }


            //inquiry button
            &.inquiry
            {
                top:    295px;
                left:   115px;

                //nest
                a
                {
                    background-position:
                        sprite-position( $btns, btn_inquiry_normal );
                }

                a:hover
                {
                    background-position:
                        sprite-position( $btns, btn_inquiry_hover );
                }

                a:active
                {
                    background-position:
                        sprite-position( $btns, btn_inquiry_pressed );
                }
                a:target
                {
                    background-position:
                        sprite-position( $btns, btn_inquiry_selected );
                }
            }
        }
    }
}

